/* Common */

.row {
	display: flex;
}

.wrapingBorder {
	margin: 10px;
	border-radius: 5px;
	border-style: solid;
	border-color: #ccc;
}

/*Current courses*/

.currentCoursesContainer {
	flex: 60%;
	padding: 10px;
}

#currentCoursesTable {
	margin: 10px;
	border-collapse: collapse;
	text-align: left;
}

#currentCoursesTable tr, table#currentCoursesTable th {
	border: 1px solid black;
	padding: 5px;
}

#currentCoursesTable thead th {
	background-color: #0B3954;
	color: rgb(250, 250, 250);
}

#currentCoursesTable tbody th {
	font-weight: normal;
}

#currentCoursesTable tbody tr:hover {
	background-color: rgb(250, 250, 250);
}

/*Course input*/

.addNewCourseContainer {
	flex: 0 1 400px;
	padding: 10px;
}

.courseInput, .largeCourseInput, .smallCourseInput, .courseInputLabels {
	margin-top: 10px;
	margin-bottom: 10px;
}

.courseInputLabels {
	font-weight: bold;
}

.largeCourseInput {
	width: calc(100% - 10px);
}

.smallCourseInput {
	width: 50%;
}

.columnCity {
	flex: 50%;
}

.columnState {
	flex: 15%;
}

.columnZip {
	flex: 35%;
}

.rightColumn {
	margin-right: 0px;
	width: calc(100% - 10px)
}

.leftColumn {
	width: calc(100% - 10px)
}
